<app-header></app-header>
<app-page-title
  [title]="'page_titles.faculty.title' | translate"
  [description]="'page_titles.faculty.description' | translate"
  [currentPage]="'page_titles.faculty.current_page' | translate">
</app-page-title>
<!-- Faculty  Staff Section -->
<section id="faculty--staff"
          class="faculty--staff section">

  <div class="container"
        data-aos="fade-up"
        data-aos-delay="100">

    <div class="row">
      <div class="col-lg-3"
            data-aos="fade-up"
            data-aos-delay="300">
        <div class="departments-nav">
          <h4 class="departments-title">{{ 'faculty.faculties_title' | translate }}</h4>
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <button class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-1">{{ 'faculty.medicine.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-2">{{ 'faculty.dentistry.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-3">{{ 'faculty.medical_sciences.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-4">{{ 'faculty.engineering.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-5">{{ 'faculty.management.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-6">{{ 'faculty.law.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-7">{{ 'faculty.humanities.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-8">{{ 'faculty.community_development.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-9">{{ 'faculty.computer_science.name' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#faculty-tab-10">{{ 'faculty.languages_translation.name' | translate }}</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9"
            data-aos="fade-up"
            data-aos-delay="400">
        <div class="tab-content">
          <!-- كلية الطب -->
          <div class="tab-pane fade show active"
                id="faculty-tab-1">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.medicine.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.medicine.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.medicine.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.available_specialties' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let specialty of 'faculty.medicine.specialties' | translate" class="badge bg-primary me-2 mb-2">{{ specialty }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية طب الفم والأسنان -->
          <div class="tab-pane fade"
                id="faculty-tab-2">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.dentistry.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.dentistry.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.dentistry.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.available_specialties' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let specialty of 'faculty.dentistry.specialties' | translate" class="badge bg-primary me-2 mb-2">{{ specialty }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية العلوم الطبية -->
          <div class="tab-pane fade"
                id="faculty-tab-3">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.medical_sciences.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.medical_sciences.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.medical_sciences.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.faculty_departments' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let department of 'faculty.medical_sciences.departments' | translate" class="badge bg-primary me-2 mb-2">{{ department }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية الهندسة -->
          <div class="tab-pane fade"
                id="faculty-tab-4">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.engineering.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.engineering.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.engineering.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.faculty_departments' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let department of 'faculty.engineering.departments' | translate" class="badge bg-primary me-2 mb-2">{{ department }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية الإدارة -->
          <div class="tab-pane fade"
                id="faculty-tab-5">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.management.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.management.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.management.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.faculty_departments' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let department of 'faculty.management.departments' | translate" class="badge bg-primary me-2 mb-2">{{ department }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية الحقوق -->
          <div class="tab-pane fade"
                id="faculty-tab-6">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.law.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.law.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.law.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية العلوم الإنسانية -->
          <div class="tab-pane fade"
                id="faculty-tab-7">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.humanities.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.humanities.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.humanities.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.faculty_departments' | translate }}</h5>
                  <div class="row">
                      <div class="col">
                      <span *ngFor="let department of 'faculty.humanities.departments' | translate" class="badge bg-primary me-2 mb-2">{{ department }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية تنمية المجتمع -->
          <div class="tab-pane fade"
                id="faculty-tab-8">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.community_development.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.community_development.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.community_development.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية الحاسب الآلي ونظم المعلومات -->
          <div class="tab-pane fade"
                id="faculty-tab-9">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.computer_science.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.computer_science.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.computer_science.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.available_specialties' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let specialty of 'faculty.computer_science.specialties' | translate" class="badge bg-primary me-2 mb-2">{{ specialty }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- كلية اللغات والترجمة -->
          <div class="tab-pane fade"
                id="faculty-tab-10">
            <div class="department-info mb-4">
              <h3>{{ 'faculty.languages_translation.name' | translate }}</h3>
              <p class="lead">{{ 'faculty.languages_translation.description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="faculty-goals">
                  <h5>{{ 'faculty.faculty_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'faculty.languages_translation.goals' | translate" class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary mx-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="faculty-specialties">
                  <h5>{{ 'faculty.available_specialties' | translate }}</h5>
                  <div class="row">
                    <div class="col">
                      <span *ngFor="let specialty of 'faculty.languages_translation.specialties' | translate" class="badge bg-primary me-2 mb-2">{{ specialty }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Faculty  Staff Section -->
<app-footer></app-footer>

