<section id="institutes"
         class="institutes section">
  <div class="container"
       data-aos="fade-up"
       data-aos-delay="100">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="display-6 fw-bold mb-4">{{ 'institutes.title' | translate }}</h2>
        <p class="lead">{{ 'institutes.description' | translate }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3"
           data-aos="fade-up"
           data-aos-delay="300">
        <div class="departments-nav">
          <h4 class="departments-title">{{ 'institutes.institutes_title' | translate }}</h4>
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <button class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#institute-tab-1">{{ 'institutes.elementary_institute' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#institute-tab-2">{{ 'institutes.middle_institute' | translate }}</button>
            </li>
            <li class="nav-item">
              <button class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#institute-tab-3">{{ 'institutes.high_institute' | translate }}</button>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9"
           data-aos="fade-up"
           data-aos-delay="400">
        <div class="tab-content">

          <!-- المرحلة الابتدائية -->
          <div class="tab-pane fade show active"
               id="institute-tab-1">
            <div class="department-info mb-4">
              <h3>{{ 'institutes.elementary_institute' | translate }}</h3>
              <p class="lead">{{ 'institutes.elementary_description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="institute-goals">
                  <h5>{{ 'institutes.institute_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'institutes.elementary_goals' | translate"
                        class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary me-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="institute-specialties">
                  <h5>{{ 'institutes.available_subjects' | translate }}</h5>
                  <div class="row">
                    <div class="col-12">
                      <span *ngFor="let program of 'institutes.elementary_goals' | translate"
                            class="badge bg-primary me-2 mb-2">{{ program }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- المرحلة المتوسطة -->
          <div class="tab-pane fade"
               id="institute-tab-2">
            <div class="department-info mb-4">
              <h3>{{ 'institutes.middle_institute' | translate }}</h3>
              <p class="lead">{{ 'institutes.middle_description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="institute-goals">
                  <h5>{{ 'institutes.institute_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'institutes.middle_goals' | translate"
                        class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary me-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="institute-specialties">
                  <h5>{{ 'institutes.available_subjects' | translate }}</h5>
                  <div class="row">
                    <div class="col-12">
                      <span *ngFor="let program of 'institutes.middle_goals' | translate"
                            class="badge bg-primary me-2 mb-2">{{ program }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- المرحلة الثانوية -->
          <div class="tab-pane fade"
               id="institute-tab-3">
            <div class="department-info mb-4">
              <h3>{{ 'institutes.high_institute' | translate }}</h3>
              <p class="lead">{{ 'institutes.high_description' | translate }}</p>
            </div>
            <div class="row g-4">
              <div class="col-md-6">
                <div class="institute-goals">
                  <h5>{{ 'institutes.institute_goals' | translate }}</h5>
                  <ul class="list-unstyled">
                    <li *ngFor="let goal of 'institutes.high_goals' | translate"
                        class="d-flex align-items-center mb-2">
                      <i class="bi bi-check-circle text-primary me-2"></i>
                      <span>{{ goal }}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="institute-specialties">
                  <h5>{{ 'institutes.available_subjects' | translate }}</h5>
                  <div class="row">
                    <div class="col-12">
                      <span *ngFor="let program of 'institutes.high_goals' | translate"
                            class="badge bg-primary me-2 mb-2">{{ program }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>