<!-- Benefits Section -->
<section id="benefits" class="about section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <!-- Section Title -->
    <div margin-inline-start>
      <div class="col-lg-8 mx-auto text-center">
        <h3 class="h4 top-title text-muted mb-2">{{ 'benefits.topTitle' | translate }}</h3>
        <h2 class="display-6 fw-bold mb-4">{{ 'benefits.title' | translate }}</h2>
        <p class="lead">
          {{ 'benefits.description' | translate }}
        </p>
      </div>
    </div>
    <div class="row mission-vision-row g-4">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="value-card h-100" style="text-align: center;">
          <div class="card-icon">
            <i class="bi bi-mortarboard"></i>
          </div>
          <h3>{{ 'benefits.useful_education' | translate }}</h3>
          <p>{{ 'benefits.useful_education_text' | translate }}</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="value-card h-100" style="text-align: center;">
          <div class="card-icon">
            <i class="bi bi-lightbulb"></i>
          </div>
          <h3>{{ 'benefits.self_development' | translate }}</h3>
          <p>{{ 'benefits.self_development_text' | translate }}</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="value-card h-100" style="text-align: center;">
          <div class="card-icon">
            <i class="bi bi-award"></i>
          </div>
          <h3>{{ 'benefits.international_certificate' | translate }}</h3>
          <p>{{ 'benefits.international_certificate_text' | translate }}</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="value-card h-100" style="text-align: center;">
          <div class="card-icon">
            <i class="bi bi-briefcase"></i>
          </div>
          <h3>{{ 'benefits.job_opportunities' | translate }}</h3>
          <p>{{ 'benefits.job_opportunities_text' | translate }}</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="value-card h-100" style="text-align: center;">
          <div class="card-icon">
            <i class="bi bi-people"></i>
          </div>
          <h3>{{ 'benefits.community_contribution' | translate }}</h3>
          <p>{{ 'benefits.community_contribution_text' | translate }}</p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="value-card h-100" style="text-align: center;">
          <div class="card-icon">
            <i class="bi bi-graph-up"></i>
          </div>
          <h3>{{ 'benefits.continuous_education' | translate }}</h3>
          <p>{{ 'benefits.continuous_education_text' | translate }}</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- /Benefits Section -->
