<footer id="footer"
        class="footer position-relative dark-background"
        dir="rtl">

  <div class="container footer-top">
    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html"
           class="logo d-flex align-items-center">
          <span class="sitename d-flex gap-2">
            <img src="assets/img/safwat.svg"
                 alt="">
            <h3 class="text-white">صفوت الصفوة العالمية</h3>
          </span>
        </a>
        <div class="footer-contact pt-3">
          <p>شارع الملك فهد</p>
          <p>الرياض، المملكة العربية السعودية</p>
          <p class="mt-3"><strong>الهاتف:</strong> <span>+966 555 888 999</span></p>
          <p><strong>البريد الإلكتروني:</strong> <span>{{'info@school.edu.sa'}}</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="#"><i class="bi bi-twitter-x"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>روابط هامة</h4>
        <ul>
          <li><a href="#">الرئيسية</a></li>
          <li><a href="#">من نحن</a></li>
          <li><a href="#">خدماتنا</a></li>
          <li><a href="#">الشروط والأحكام</a></li>
          <li><a href="#">سياسة الخصوصية</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>خدماتنا</h4>
        <ul>
          <li><a href="#">التعليم الإلكتروني</a></li>
          <li><a href="#">الدورات التدريبية</a></li>
          <li><a href="#">إدارة الفعاليات</a></li>
          <li><a href="#">التوجيه الأكاديمي</a></li>
          <li><a href="#">التصميم والإبداع</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>الموارد</h4>
        <ul>
          <li><a href="#">المكتبة الرقمية</a></li>
          <li><a href="#">المجلات العلمية</a></li>
          <li><a href="#">الأنشطة الطلابية</a></li>
          <li><a href="#">المعامل والمختبرات</a></li>
          <li><a href="#">مركز الدعم</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>روابط سريعة</h4>
        <ul>
          <li><a href="#">التقويم الأكاديمي</a></li>
          <li><a href="#">الخدمات الإلكترونية</a></li>
          <li><a href="#">البوابة الطلابية</a></li>
          <li><a href="#">أعضاء هيئة التدريس</a></li>
          <li><a href="#">التواصل</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyinset-inline-end text-center mt-4">
    <p>© <span>جميع الحقوق محفوظة</span> <strong class="px-1 sitename">ان تيك</strong> <span>2025</span></p>
    <div class="credits">
      تصميم وتطوير بواسطة <a href="#">فريق التقنية</a>
    </div>
  </div>

</footer>
