/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.page-title {
  background-image: url('/assets/img/education/hero-bg.svg');
  background-position: center top;
  background-size: cover;
}

.breadcrumbs li a {
  padding: 0 10px;
}
