<header id="header"
        class="header d-flex align-items-center">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a href="index.html"
       class="logo gap-2 d-flex align-items-center">
      <img src="/assets/img/Safwat-Al-Safwa-International-University.png"
           alt="Safwat Al Safwa International University">
    </a>

    <nav id="navmenu"
         class="navmenu">
      <ul>
        <li><a href="index.html"
             class="active">الصفحة الرئيسية</a></li>
        <li><a href="index.html">عن الجامعة</a></li>
        <li><a href="index.html">القبول<i class="bi bi-chevron-down toggle-dropdown"></i></a></li>
        <li><a href="index.html">الكليات<i class="bi bi-chevron-down toggle-dropdown"></i></a></li>
        <li><a href="index.html">المعاهد<i class="bi bi-chevron-down toggle-dropdown"></i></a></li>
        <li><a href="index.html">مركز البحوث والدراسات</a></li>
        <li><a href="index.html">التعلم عن بعد</a></li>
        <li class="dropdown">
          <a href="#"><span>اتصل بنا</span> </a>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="others-option d-flex align-items-center">
      <!-- Search -->
      <div class="option-item">
        <div class="nav-search">
          <a href="/ar/page/page-under-development"
             class="search-button">
            <i class="bx bx-search"></i>
          </a>
        </div>
      </div>
      <!-- Language + Login -->
      <div class="option-item d-flex align-items-center">
        <div class="lang ms-3">
          <a href="#"
             class="btn-primary fw-1">تسجيل الدخول</a>
        </div>
      </div>
    </div>
  </div>
</header>
