<header id="header"
        class="header d-flex align-items-center">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
    <a appAutoLanguageLink="/"
       class="logo gap-2 d-flex align-items-center">
      <img src="/assets/img/website_banner_schools.png"
           alt="Safwat Al Safwa International Schools">
    </a>

    <nav id="navmenu"
         class="navmenu">
      <ul>
        <li>
          <a appAutoLanguageLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            {{ 'header.home' | translate }}
          </a>
        </li>

        <li class="dropdown "
            ngbDropdown>
          <a class="dropdown-toggle d-flex align-items-center gap-2"
             ngbDropdownToggle
             appAutoLanguageLink="/about"
             routerLinkActive="active">
            {{ 'header.about' | translate }}
          </a>
          <ul ngbDropdownMenu>
            <li><a ngbDropdownItem
                 appAutoLanguageLink="/about">{{ 'header.principles' | translate }}</a></li>
            <li><a ngbDropdownItem
                 appAutoLanguageLink="/about">{{ 'header.values' | translate }}</a></li>
            <li><a ngbDropdownItem
                 appAutoLanguageLink="/about">{{ 'header.vision' | translate }}</a></li>
            <li><a ngbDropdownItem
                 appAutoLanguageLink="/about">{{ 'header.message' | translate }}</a></li>
            <li><a ngbDropdownItem
                 appAutoLanguageLink="/about">{{ 'header.goals' | translate }}</a></li>
          </ul>
        </li>


        <li>
          <a appAutoLanguageLink="/institutes"
             routerLinkActive="active">
            {{ 'header.institutes' | translate }}
          </a>
        </li>

        <li>
          <a appAutoLanguageLink="/remote-learning"
             routerLinkActive="active">
            {{ 'header.remote_learning' | translate }}
          </a>
        </li>

        <li>
          <a appAutoLanguageLink="/contact"
             routerLinkActive="active">
            {{ 'header.contact' | translate }}
          </a>
        </li>

        <li>
          <a appAutoLanguageLink="/platform"
             routerLinkActive="active">
            {{ 'header.platform' | translate }}
          </a>
        </li>
        <li class="dropdown">
          <div class="others-option d-flex align-items-center">
            <!-- Language Switcher -->
            <div class="option-item d-flex align-items-center me-3">
              <app-language-switcher></app-language-switcher>
            </div>

            <div class="option-item d-flex align-items-center d-none d-xl-flex">
              <div class="lang ms-3">
                <a appAutoLanguageLink="/login"
                   class="btn-primary fw-1">{{ 'header.login' | translate }}</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="others-option outer-option d-flex align-items-center">
      <!-- Language Switcher -->
      <div class="option-item d-flex align-items-center me-3">
        <app-language-switcher></app-language-switcher>
      </div>
    </div>
  </div>
</header>