<section id="degrees"
         class="degrees section">
  <div class="container"
       data-aos="fade-up"
       data-aos-delay="100">
    <div class="row mb-5">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="display-6 fw-bold mb-4">{{ 'degrees.title' | translate }}</h2>
        <p class="lead">{{ 'degrees.description' | translate }}</p>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-lg-4 col-md-6"
           data-aos="fade-up"
           data-aos-delay="100">
        <div class="degree-card h-100">
          <div class="card-icon"><i class="bi bi-mortarboard"></i></div>
          <h4>{{ 'degrees.diploma' | translate }}</h4>
          <p class="degree-subtitle">{{ 'degrees.diploma_subtitle' | translate }}</p>
          <p>{{ 'degrees.diploma_description' | translate }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6"
           data-aos="fade-up"
           data-aos-delay="200">
        <div class="degree-card h-100">
          <div class="card-icon"><i class="bi bi-award"></i></div>
          <h4>{{ 'degrees.elementary' | translate }}</h4>
          <p class="degree-subtitle">{{ 'degrees.elementary_subtitle' | translate }}</p>
          <p>{{ 'degrees.elementary_description' | translate }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6"
           data-aos="fade-up"
           data-aos-delay="300">
        <div class="degree-card h-100">
          <div class="card-icon"><i class="bi bi-award-fill"></i></div>
          <h4>{{ 'degrees.intermediate' | translate }}</h4>
          <p class="degree-subtitle">{{ 'degrees.intermediate_subtitle' | translate }}</p>
          <p>{{ 'degrees.intermediate_description' | translate }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6"
           data-aos="fade-up"
           data-aos-delay="400">
        <div class="degree-card h-100">
          <div class="card-icon"><i class="bi bi-book"></i></div>
          <h4>{{ 'degrees.secondary' | translate }}</h4>
          <p class="degree-subtitle">{{ 'degrees.secondary_subtitle' | translate }}</p>
          <p>{{ 'degrees.secondary_description' | translate }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6"
           data-aos="fade-up"
           data-aos-delay="500">
        <div class="degree-card h-100">
          <div class="card-icon"><i class="bi bi-star"></i></div>
          <h4>{{ 'degrees.excellence' | translate }}</h4>
          <p class="degree-subtitle">{{ 'degrees.excellence_subtitle' | translate }}</p>
          <p>{{ 'degrees.excellence_description' | translate }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6"
           data-aos="fade-up"
           data-aos-delay="600">
        <div class="degree-card h-100">
          <div class="card-icon"><i class="bi bi-trophy"></i></div>
          <h4>{{ 'degrees.achievement' | translate }}</h4>
          <p class="degree-subtitle">{{ 'degrees.achievement_subtitle' | translate }}</p>
          <p>{{ 'degrees.achievement_description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</section>