<div class="language-switcher dropdown">
  <button class="btn btn-link gap-2 dropdown-toggle d-flex align-items-center"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    <img [src]="currentLang === 'ar' ? '/images/flags/saudi-flag.svg' : '/images/flags/uk-flag.avif'"
         [alt]="currentLang === 'ar' ? 'Saudi Arabia Flag' : 'UK Flag'"
         class="flag-icon me-2">
    <span class="language-text">{{ currentLang === 'ar' ? 'العربية' : 'English' }}</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item d-flex gap-2 align-items-center"
         (click)="changeLanguage('ar')"
         [class.active]="currentLang === 'ar'">
        <img src="/images/flags/saudi-flag.svg"
             alt="Saudi Arabia Flag"
             class="flag-icon me-2">
        <span>العربية</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-2 align-items-center"
         (click)="changeLanguage('en')"
         [class.active]="currentLang === 'en'">
        <img src="/images/flags/uk-flag.avif"
             alt="UK Flag"
             class="flag-icon me-2">
        <span>English</span>
      </a>
    </li>
  </ul>
</div>
