<div class="language-switcher dropdown mx-2">
  <button class="btn btn-link dropdown-toggle d-flex align-items-center"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    <img [src]="currentLang === 'ar' ? '/assets/img/flags/saudi-flag.svg' : '/assets/img/flags/uk-flag.avif'"
         [alt]="currentLang === 'ar' ? 'Saudi Arabia Flag' : 'UK Flag'"
         class="flag-icon">
         <span class="language-text">{{ currentLang === 'ar' ? ('language.arabic' | translate) : ('language.english' | translate) }}</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item d-flex gap-2 align-items-center"
         (click)="changeLanguage('ar')"
         [class.active]="currentLang === 'ar'">
        <img src="/assets/img/flags/saudi-flag.svg"
             alt="Saudi Arabia Flag"
             class="flag-icon me-2">
        <span>{{ 'language.arabic' | translate }}</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex gap-2 align-items-center"
         (click)="changeLanguage('en')"
         [class.active]="currentLang === 'en'">
        <img src="/assets/img/flags/uk-flag.avif"
             alt="UK Flag"
             class="flag-icon me-2">
        <span>{{ 'language.english' | translate }}</span>
      </a>
    </li>
  </ul>
</div>
